.list-options {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-options li a {
  display: block;
  color: #08090a;
  padding: 5px 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}
.list-options li:hover {
  background-color: #dce0ff;
}
.list-options li:hover a:hover {
  color: rgb(80, 99, 255);
  font-weight: 500;
  text-decoration: underline;
}

.list-tags {
  overflow: scroll;
  height: 20em;
}

.btn-secondary {
  background-color: rgb(235, 233, 233);
}

.rigth__nav-li:hover {
  background-color: rgb(255, 254, 254) !important;
}
.rigth__nav-li:hover .rigth__nav-a {
  color: rgb(80, 99, 255) !important;
}

.rigth__nav-a:hover {
  color: rgb(80, 99, 255) !important;
}

@media only screen and (min-width: 992px) {
  .input-group, .btn-outline-primary {
    display: none;
  }
}
nav {
  background-color: green;
}

footer {
  background-color: #e5e5e5;
  font-size: 0.9rem;
}
footer .col-12 {
  margin-bottom: -0.7rem;
}
footer .col-12 a {
  color: #2f3ab2;
}
footer .col-12 a.link-hover:hover {
  text-decoration: underline;
}

.active {
  border: none !important;
  background: none;
  font-weight: bold !important;
}

.card-title {
  font-size: 2.5em;
  font-weight: bold;
}
.card-title a {
  color: #08090a;
  text-decoration: none;
}
.card-title a:hover {
  color: rgb(80, 99, 255);
}

.tabbar-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

/*.nav-items:hover {
    background-color: white;
    color: #2f3ab2 !important;
} */
.list-tag_main {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 2em;
}
.list-tag_main li {
  margin: 0 0.5em;
  color: #808080;
  cursor: pointer;
  list-style: none;
}
.list-tag_main li:hover {
  border: 1px solid #808080;
  border-radius: 0.5em;
  padding: 0.2em;
  cursor: pointer;
}

.nav-link {
  cursor: pointer;
}

.commment-user-img {
  width: 40px;
  height: 40px;
}

.left-aside {
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: #F5F5F5;
}
.left-aside__div-button {
  background-color: #F5F5F5;
  border: none;
}
.left-aside__div-button img {
  width: 3rem;
}
.left-aside__div-button .msj {
  transition: all 1s;
}
.left-aside__div-button:hover .heart {
  background-color: hsla(0, 50%, 69%, 0.452);
}
.left-aside__div-button:hover .comment {
  background-color: hsla(36, 68%, 77%, 0.452);
}
.left-aside__div-button:hover .save {
  background-color: hsla(236, 82%, 78%, 0.452);
}
.left-aside__div-button:hover .dots {
  background-color: hsla(0, 0%, 79%, 0.452);
}
.left-aside__div-button:hover .msj {
  text-align: center;
  display: block !important;
  top: -50%;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .left-aside {
    position: sticky !important;
    justify-content: center;
    align-items: center;
  }
  .left-aside__div-button:hover .msj {
    top: 80%;
  }
}
#apple-button {
  background: black;
}

#forem-button {
  background: #0a3e4a;
}

#login-button {
  background: #3b49df;
}

.crePost {
  background-color: #f5f5f5;
}
.crePost__container {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
.crePost__container--text {
  height: 380px;
  border-bottom: 1px solid #d2d2d2;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.crePost__card {
  margin: auto;
}
.crePost__letters {
  font-size: 16px;
  font-weight: 500;
}
.crePost__btnAdd {
  border-color: rgb(214, 214, 215);
  background-color: white;
  border-radius: 6px;
  font-size: 14px;
  padding: 6px, 14px, 14px, 6px;
  width: 150px;
  height: 40px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: rgb(61, 61, 61);
  border: solid 3px black;
}
.crePost__input {
  color: rgb(82, 82, 82);
  font-size: 48px;
  font-weight: 800;
  height: 62px;
  line-height: 60px;
  height: 80px;
}
.crePost__input::-moz-placeholder {
  color: rgb(82, 82, 82);
  font-size: 48px;
  font-weight: 800;
  height: 62px;
  line-height: 60px;
}
.crePost__input::placeholder {
  color: rgb(82, 82, 82);
  font-size: 48px;
  font-weight: 800;
  height: 62px;
  line-height: 60px;
}
.crePost__input:focus {
  background-color: white;
  border-color: white;
  box-shadow: none;
}
.crePost__label {
  font-size: 1px;
  font-weight: 400;
  color: rgb(117, 117, 117);
}
.crePost__components {
  background-color: rgb(249, 249, 249);
  margin: auto;
  border: none;
}
.crePost__component {
  height: auto;
  background-color: rgb(249, 249, 249);
  height: 40px;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
}
.crePost__inputtext {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 16px;
  height: 200px;
  margin-top: 25px;
  margin-left: 40px;
}
.crePost__inputtext:focus {
  background-color: white;
  border-color: white;
  box-shadow: none;
}

textarea {
  resize: none;
}

.crayons-icon {
  border-radius: 3px;
}
.crayons-icon:hover {
  background-color: rgba(59, 73, 223, 0.1);
  cursor: pointer;
  background-size: auto;
}

.btn-publish {
  border-radius: 5px;
  background-color: rgb(47, 58, 178);
  color: white;
  margin-bottom: 40px;
}
.btn-publish:hover {
  background-color: rgb(59, 73, 223);
}

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  background-color: #F5F5F5;
}

.dropdow-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}/*# sourceMappingURL=styles.css.map */