@import "../Modules/_globals";

footer {
    background-color: #e5e5e5;
    font-size: 0.9rem;

    .col-12 {
        margin-bottom: -0.7rem;

        a {
            color: #2f3ab2;

            &.link-hover:hover {
                text-decoration: underline;
            }
        }
    }
}
